*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

:root{
   --primaryColor:#1783c7;
   --secondaryColor: #4475ddb7;
   --tertiaryColor:rgba(39, 10, 10, 0.404);
}

body{
   background-color: white;
   font-family: 'Anek Latin', sans-serif;
   font-size: 62%;
   color: var(--primaryColor);
   scroll-behavior: smooth;
   height: auto;
}

a{
   text-decoration: none;
   text-align: center;
   color:var(--primaryColor);
}

li{
   list-style: none;
}

// Navbar styling
.navbar{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   padding: 2rem 0;
   background-color: white;
   box-shadow: -3px -3px 7px #ffffff,
             3px 3px 5px #ceced1,
             inset -3px -3px 10px #ffffff,
             inset 3px 3px 10px #ceced1;
   
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 2000;
   overflow: hidden;

   &-brand{
      display: flex;
      flex-direction: row;
      color:var(--primaryColor);
      height: 3rem;
     
   }

   &-nav{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 2rem;

      .navbar-links{
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         font-weight: 300!important;
         
         li a:hover{
            border-bottom: 2px solid var(--primaryColor);
            border-width: 50%;
            transition: ease-in-out .5s;
            color: black;
         }

         li a{
           margin-right: 2.2rem;
         }

         
      }

      .social-links{
         
         .social-link{
            color:var(--primaryColor);
            padding: .4rem .8rem;
            margin-right: 1rem;
            border-radius: 50%;
            background: #fff;
            box-shadow: inset 18px 18px 35px #fff,
            inset -18px -18px 35px #b9b8b8;

            i{
               font-size: 1.4rem;
               text-align: center;
            }
            
         }
         
      }
   }
   
}

// About section styling
.about{
   display: flex;
   flex-direction: row;
   height: 100vh;
   justify-content: center;
   align-items: center;
   margin: 0 100px;

   h4, p{
      color: var(--secondaryColor);
      font-size: 1.5rem;
   }

   &-title{
      float: left;
      font-size: 3rem;
      margin-right: 2rem;
      font-weight: 400;
   }

   &-border{
      width: 0px;
      height: 50%;
      border-right: 2px solid var(--secondaryColor);
      position: absolute;
      left: 600px;
   }

   &-paragraph{
      float: right;
      line-height: 2;
      width: 70%;
      text-align: justify;
   }
}

// Features styling
.features{
   display: flex;
   flex-direction: column;
   text-align: center;
   // height: 100vh;
   

   &-title{
      font-size: 1.5rem;
      margin-bottom: 3rem;
      h1{
         color: var(--secondaryColor);
         font-size: 5rem;
         font-weight: 600;
      }

      p{
         color: black;
         font-size: 1rem;
      }
   }

   &-cards{
      display: grid;
      grid-template-columns: repeat(3, 2fr);
      margin: 0 auto;
      gap: 1.5rem;
      justify-content: center;
      align-items: center;

      .card{
         font-size: 1.5rem;
         border: 2px solid transparent;
         width: 350px;
         height: 300px;
         border-radius: 20px;
         padding: 2rem;
         text-align: center;
         align-self: center;
         box-shadow: inset 3px 3px 7px rgba(136, 165, 191, 0.48), inset -3px -3px 7px #FFFFFF;

         &-content{
            text-align: center;
            i{
               font-size: 3rem;
               padding: .5rem;
            }

            h1{
               font-size: 1.7rem;
               font-weight: 700!important;
               padding-top: 1.3rem ;
               color: var(--secondaryColor);
            }

            p{
               font-size: 1rem;
               padding-top: 1rem;
               color: rgb(100, 100, 100);
            }
         }

      }
   }
}
// About Company
.aboutC{
   display: flex;
   flex-direction: row;
   gap: 2rem;
   margin:200px 50px;
   justify-content: center;
   align-items: center;
   color: var(--secondaryColor);
   
   p{
      font-size: 1.5rem;
      color: black;
   }
   &-title{
      font-size: 3rem;
      font-weight: 400;

      h4{
         padding-bottom: 1rem;
      }
      p{
         font-size: 1rem;
      }
   }
   &-paragraph{
      line-height: 2;
      width: 60%;
      text-align: justify;
      float: right;
   }
}

// Products styling
.products{
   text-align: center;
   margin-bottom: 100px;

   h3{
      font-size: 3rem;
      color: var(--secondaryColor);
      padding-bottom: 1rem;

   }

   &-cards{
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      gap: 2rem;
      align-items: center;
      margin: 30px 100px;
      .card{
         border: 2px solid var(--tertiaryColor);
         border-radius: 20px;
         padding: 1.5rem;
         &-detail{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 1rem;
                        
            h3{
               font-size: 1.5rem;
               float: right;
               color: var(--secondaryColor);
               font-weight: bolder;
            }

            h1{
               float: left;
               color: #ceced1;
            }
         }

         p{
            text-align: left;
            font-size: 1.5rem;
            line-height: 1.4;
         }
      }
   }
}

// Contact Us styling

.Contact{
   text-align: center;

   h3{
      font-size: 3rem;
      color: var(--primaryColor);
   }

   form{
      display: flex;
      flex-direction: column;
      margin: 50px 100px;

      input, textarea{
         display: inline-block;
         margin-bottom: 1.5rem;
         padding: 1.5rem;
         font-size: 2rem;
         outline: none;
      }

      button{
         display: block;
         padding: 1.5rem;
         align-items: center;
         font-size: 2rem;
         font-weight: bolder;
         color: black;
         border: 3px solid #21465d;
         border-radius: 10px;
      }

      button:hover{
         color:whitesmoke;
         transform: scale(1.1);
         background-color: #21465d;
         border: none;
      }
   }
}

footer{
   margin: 30px 0;
   text-align: center;
   font-size: 1.5rem;
   
}